@import url(http://fonts.googleapis.com/css?family=Lato:300);
@import '../bower_components/uikit/src/less/uikit';

@base-body-font-family: 'Lato', sans-serif;
@base-heading-font-family: 'Lato', sans-serif;
@navbar-nav-font-family: 'Lato', sans-serif;
