div(ng-controller='ChatCtrl')
  .uk-container.uk-margin-left.uk-margin-right.uk-margin
    .uk-grid
      .uk-width-1-5
        h5 your channels

        ul.uk-nav.uk-nav-side
          li.uk-active
            a(href='#') dogfort updates
          li
            a(href='#') test private &nbsp;
              span.uk-badge.uk-badge-danger.uk-badge-notification 18

      .uk-width-4-5.uk-overflow-container
        div(ng-repeat="m in chatMessages")
          article.uk-comment.uk-panel.uk-panel-box.uk-animation-slide-left
            header.uk-comment-header
              div.avatar-frame.uk-comment-avatar(display: 'inline-block')
                img(ng-src="{{m.avatarUrl}}")
              h4.uk-comment-title {{m.chatText}}
              ul.uk-comment-meta.uk-subnav.uk-subnav-line
                li
                  a(href='/') @{{m.username}}
                li {{m.ts}}
          br
        a#bottom

