div(ng-repeat="m in chatMessages")
  article.uk-comment.uk-panel.uk-panel-box.uk-animation-slide-left
    header.uk-comment-header
      div.avatar-frame.uk-comment-avatar(display: 'inline-block')
        img(ng-src="{{m.avatarUrl}}")
      h4.uk-comment-title {{m.chatText}}
      ul.uk-comment-meta.uk-subnav.uk-subnav-line
        li
          a(href='/') @{{m.username}}
        li {{m.ts}}
  br

