extends layout

block content

  nav.uk-navbar.uk-navbar-attached.dogfort-navbar(data-uk-sticky)
    a.uk-navbar-brand.uk-hidden-small.brand-font(href="/") dogfort.v5 &nbsp;
    span.uk-badge.uk-badge-warning beta

    .uk-navbar-flip(ng-show='isAuthenticated')
      ul.uk-navbar-nav
        li
          a(data-uk-offcanvas="{target:'#menu'}")
            span.sm-avatar-frame(display: 'inline-block')
              img(ng-src="http://www.gravatar.com/avatar/{{authedUser.gravatarHash}}?s=20")
            | &nbsp; @{{authedUser.username}} &nbsp;

  br
  .ng-view

  #menu.uk-offcanvas
    .uk-offcanvas-bar.uk-offcanvas-bar-flip
      .uk-panel
        button.uk-button(ng-click='logout()') logout
