html
  head
    title= dogfort

    link(rel='stylesheet', href='/styles/app.css')

  body
    nav.uk-navbar
      a.uk-navbar-brand(href="/") dogfort
      ul.uk-navbar-nav
        li
          a.uk-navbar-brand(href="/") rooms

      .uk-navbar-flip
        ul.uk-navbar-nav
          li
            a(href='/login') login

    p ICON TEST, LOL&nbsp;
      i.uk-icon-camera

    .uk-grid
      .uk-width-1-3 Swearem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam scelerisque accumsan nisl, a mattis eros vestibulum et. Vestibulum placerat purus ut nibh aliquam fringilla. Aenean et tortor shit, id tempor elit. Vivamus sagittis ornare tempor. Nullam lacinia metus vel diam tempor frig motherfucker bollix porttitor. Vestibulum mollis pellentesque hendrerit. Sed faucibus venenatis accumsan. Quisque ut gravida metus. Nam sed neque magna, in fermentum ligula. Praesent a diam tincidunt odio semper consequat.
      .uk-width-1-3 Proin pellentesque arse nec massa scelerisque sodales nec non velit. Vestibulum auctor sagittis dick. Morbi sed lorem et odio sagittis pretium euismod sed augue. Ut non lobortis purus. Integer tempus hendrerit erat feugiat auctor. Aliquam convallis imperdiet nunc nec feugiat. In hac habitasse twathole dictumst. Vestibulum vehicula bibendum arcu, id accumsan tellus egestas nec. Ut vehicula dignissim adipiscing. Bastard id magna ballbag nunc sodales laoreet. Aenean sit amet tellus metus, non mattis dui.
      .uk-width-1-3 Donec eleifend cock in metus convallis sollicitudin venenatis urna pharetra. Ballbag gravida nisi rhoncus lectus porta pellentesque. Mauris ullamcorper, turpis at vulputate vehicula, arcu libero commodo elit, sit amet rhoncus mauris sem non enim. Nulla iaculis sollicitudin mollis. Aliquam commodo, orci rutrum tristique sagittis, nulla elit lacinia arcu, at dictum quam ligula at lacus. Praesent nec metus mi, eget ullamcorper neque. In bollocks habitasse platea dictumst. Sed tempus sagittis cock, vel tristique nibh consequat vitae. In id mi sit amet diam commodo fermentum. Etiam pretium felis sed erat ultricies tempus. Quisque bugger lacus urna, ac rutrum turpis. Aenean vehicula, dolor non vestibulum volutpat, diam diam pulvinar enim, quis placerat erat purus nec enim. Morbi et dolor nisi, eu faucibus sapien. Suspendisse potenti. Proin semper sodales nunc, id venenatis justo condimentum non.
