html(ng-app='dogfort')
  head
    title login | dogfort

    link(rel='shortcut icon', type='image/x-icon', href='/images/favicon.ico')

    link(rel='stylesheet', href='/styles/app.css')

    script(type='text/javascript', src='/scripts/thirdparty.min.js')
    script(type='text/javascript', src='/scripts/dogfort.js')

  body.login-body
    .uk-container.uk-margin-left.uk-margin-right.uk-margin.uk-vertical-align
      .uk-width-medium-1-2.uk-container-center.uk-vertical-align-middle
        form.uk-form
          fieldset(data-uk-margin)
            input.uk-form-large.uk-form-width-medium(type='text', placeholder='username')
            input.uk-form-large.uk-form-width-medium(type='password', placeholder='password')
            button.uk-button.uk-button-large.uk-button-success login

        ul.uk-subnav.uk-subnav-line
          li
            a(href='/') register
          li
            a(href='/') forgot password?






